* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  position: relative;
}
.input {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 10px;
  border-style: none;
  background-color: bisque;
  padding: 15px;
  font-size: 18px;
  transition: width 0.3s ease;
}

.btn {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border-style: none;
  background-color: bisque;
  position: absolute;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.btn:focus,
.input:focus {
  outline: none;
}
.btn:active {
  border-style: none;
}
i {
  font-size: 20px;
}

.container.active .input {
  width: 300px;
}
.container.active .btn {
  transform: translateX(160px);
}
